@import url("https://fonts.googleapis.com/css?family=Raleway:400");

#ScoreField {
    border-radius: 20px;
    position: relative;
    top: 70px;
    width: 60%;
    background-color: #fff;
    font-weight: 1000;
    font-size: 150px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffe4c4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    border: 3px solid black;
    padding: 10px;
    border-radius: 20px;
    font-size: 60px;
    position: relative;
    /* left: 100px; */
    top: 400px;
}

a:link {
    color: greenyellow;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
}