body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffe4c4;
    margin: 0;
    padding: 0;
    text-align: center;
}

table {
    position: relative;
    top: 100px;
    border: 5px solid black;
    width: 60%;
    border-collapse: collapse;
    text-align: center;
}

th {
    font-size: 80px;
}

td {
    border: 3px solid black;
    font-size: 60px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    border: 3px solid black;
    padding: 10px;
    border-radius: 20px;
    font-size: 60px;
    position: absolute;
    left: 100px;
    top: 800px;
}